body{
  font-family: 'Quicksand', sans-serif;
  margin-left: 20px;
}

h1{
  font-weight: bolder;
  font-size: 36px;
  color: rgb(2, 39, 53);
  margin-top: 10px;
  margin-bottom: 10px;
}

h2{
  font-weight: bold;
  font-size: 24px;
  color: rgb(172, 50, 8);
  margin-top: 10px;
  margin-bottom: 10px;
}

h3{
  font-weight: bold;
  font-size: 20px;
  color: rgb(64, 151, 7);
  margin-top: 10px;
  margin-bottom: 10px;
}

p{
  font-weight: normal;
  font-size: 16px;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}

td{
  padding: 15px;
  border-bottom: 2px solid rgb(64, 151, 7);
}

.createStore{
  padding-top: 15px;
}

#paragraph {
  margin-top: 10px;
  margin-bottom: 10px;
}

.color-box p{
  color: white;
  font-weight: bold;
}

.color-box {
  width: 150px;
  padding: 5px;
  display: inline-block;
  float: left;
}

#blue {
  background-color: rgb(2, 39, 53);
  margin-top: 5px;
  margin-bottom: 5px;
}

#pink {
  background-color: rgb(172, 50, 8);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

#green {
  background-color: rgb(64, 151, 7);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
}

table {
  margin: 2px;
  padding: 2px;
}
